## 서울 부동산 실거래가 데이터(from 공공데이터포털)
URL: https://data.seoul.go.kr/dataList/OA-21275/S/1/datasetView.do

In [1]:
import boto3

aws_profile = boto3.Session(profile_name='ted-yang', region_name='ap-northeast-2')
aws_credential = aws_profile.get_credentials()

In [2]:
aws_credential.access_key

'AKIAZXEYGYQBMCPP5LXD'

In [3]:
access = aws_credential.get_frozen_credentials().access_key
secret = aws_credential.get_frozen_credentials().secret_key

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

from pyspark.sql import SparkSession

spark = (SparkSession.builder
    .config('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem')
    .config('spark.hadoop.fs.s3a.access.key', access)
    .config('spark.hadoop.fs.s3a.secret.key', secret)
    .getOrCreate())

In [18]:
s3a_impl_config = spark.sparkContext.getConf().get("spark.hadoop.fs.s3a.impl")

print(s3a_impl_config)

org.apache.hadoop.fs.s3a.S3AFileSyste

In [5]:
raw_df = spark.read.format('json').load('../data/real-estate-seoul-gangnamgu.json')

In [19]:
raw_df.show()

+--------------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+
|     _corrupt_record|acc_year|bjdong_cd|bjdong_nm|bldg_area|                      bldg_nm|bonbeon|bubeon|build_year|cntl_ymd|deal_ymd|floor|house_type|land_gbn|land_gbn_nm|obj_amt|rdealer_lawdnm| req_gbn|right_gbn|sgg_cd|sgg_nm|tot_area|
+--------------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+
|                   {|    NULL|     NULL|     NULL|     NULL|                         NULL|   NULL|  NULL|      NULL|    NULL|    NULL| NULL|      NULL|    NULL|       NULL|   NULL|          NULL|    NULL|     NULL|  NULL|  NULL|    NULL|
|"DESCRIPTION" : {...|    NULL|     NULL|     NULL|     NULL|                         NULL|   NULL|  NULL|      NULL|    NULL|    NULL| NULL|      NULL|    NULL|       NULL|   NULL|          NULL|    NULL|     NULL|  NULL|  NULL|    NULL|
|          "DATA" : [|    NULL|     NULL|     NULL|     NULL|                         NULL|   NULL|  NULL|      NULL|    NULL|    NULL| NULL|      NULL|    NULL|       NULL|   NULL|          NULL|    NULL|     NULL|  NULL|  NULL|    NULL|
|                NULL|    2024|    10300|   개포동|    37.43|                예가풍경채3차|   1224|  0004|      2019|    NULL|20240315|    3|연립다세대|       1|       대지|  61000|   서울 용산구|중개거래|     NULL| 11680|강남구|    22.0|
|                NULL|    2024|    10600|   대치동|    34.32|         선릉역 롯데골드로즈2|   0890|  0059|      2004|    NULL|20240314|   14|  오피스텔|       1|       대지|  28500|   서울 강남구|중개거래|     NULL| 11680|강남구|   47.95|
|                NULL|    2024|    10300|   개포동|     34.8|          우성파크빌라(161-0)|   0161|  0000|      1993|    NULL|20240314|   -1|연립다세대|       1|       대지|  20000|          NULL|  직거래|     NULL| 11680|강남구|    13.0|
|                NULL|    2024|    10100|   역삼동|    14.77|태건 강남 헤븐리치 더써밋 761|   0605|  0017|      2021|    NULL|20240313|    2|  오피스텔|       1|       대지|  23000|   서울 강남구|중개거래|     NULL| 11680|강남구|    23.1|
|                NULL|    2024|    10600|   대치동|    77.98|                     대치르엘|   1030|  0000|      2021|    NULL|20240313|    7|    아파트|       1|       대지| 255000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|                NULL|    2024|    11200|   자곡동|     58.7|        빌리브 파비오 더 까사|   0653|  0000|      2022|    NULL|20240312|   10|  오피스텔|       1|       대지|  81000|   서울 강남구|중개거래|     NULL| 11680|강남구|   83.89|
|                NULL|    2024|    10100|   역삼동|   627.91|                         NULL|   NULL|  NULL|      1996|    NULL|20240312| NULL|단독다가구|    NULL|       NULL| 626000|   서울 강남구|중개거래|     NULL| 11680|강남구|   230.0|
|                NULL|    2024|    10100|   역삼동|     23.9|           역삼 푸르지오 시티|   0735|  0017|      2016|    NULL|20240312|   13|  오피스텔|       1|       대지|  26800|   서울 강남구|중개거래|     NULL| 11680|강남구|    23.9|
|                NULL|    2024|    10800|   논현동|    30.03|                 운현오피스텔|   0205|  0008|      2003|    NULL|20240311|    9|  오피스텔|       1|       대지|  20300|   서울 강남구|중개거래|     NULL| 11680|강남구|   42.95|
|                NULL|    2024|    10300|   개포동|    37.43|                예가풍경채3차|   1224|  0004|      2019|20240315|20240311|    3|연립다세대|       1|       대지|  61000|   서울 용산구|중개거래|     NULL| 11680|강남구|    22.0|
|                NULL|    2024|    10600|   대치동|    76.79|                         은마|   0316|  0000|      1979|    NULL|20240311|    1|    아파트|       1|       대지| 220000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|                NULL|    2024|    10800|   논현동|    14.37|                논현빌(137-1)|   0137|  0001|      2013|    NULL|20240309|    2|연립다세대|       1|       대지|  17300|   서울 강남구|중개거래|     NULL| 11680|강남구|     9.0|
|                NULL|    2024|    10100|   역삼동|     20.7|                  힐스테이트4|   0681|  0024|      2015|    NULL|20240308|    2|연립다세대|       1|       대지|  20000|   서울 강남구|중개거래|     NULL| 11680|강남구|    13.0|
|                NULL|    2024|    11500|   수서동|    97.63|                   수서한아름|   0712|  0000|      1993|    NULL|20240308|    3|    아파트|       1|       대지| 160000|          NULL|  직거래|     NULL| 11680|강남구|     0.0|
|                NULL|    2024|    10800|   논현동|    29.79|                     논현밸류|   0171|  0016|      2015|    NULL|20240306|    4|연립다세대|       1|       대지|  35000|   서울 서초구|중개거래|     NULL| 11680|강남구|    20.0|
|                NULL|    2024|    10600|   대치동|    94.49|             래미안대치팰리스|   1027|  0000|      2015|    NULL|20240305|    6|    아파트|       1|       대지| 361500|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|                NULL|    2024|    10300|   개포동|    84.36|             디에이치아너힐즈|   0138|  0000|      2019|    NULL|20240305|    7|    아파트|       1|       대지| 280000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
+--------------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+

In [7]:
filter_df = raw_df.filter(col('acc_year') != 'NULL')

In [13]:
(filter_df.write.format('parquet')
    .mode('overwrite')
    .save('s3a://deadline-dw/dummy/')
    # .save('../data/real-estate-seoul-gangnamgu')
)

Py4JJavaError: An error occurred while calling o90.save.
: java.lang.RuntimeException: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2688)
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3431)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.datasources.DataSource.planForWritingFileFormat(DataSource.scala:454)
	at org.apache.spark.sql.execution.datasources.DataSource.planForWriting(DataSource.scala:530)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:830)
Caused by: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found
	at org.apache.hadoop.conf.Configuration.getClassByName(Configuration.java:2592)
	at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2686)
	... 24 more

## Load parquet files with no projection

In [13]:
parquet_df = spark.read.format('parquet').load('../data/real-estate-seoul-gangnamgu/*')
parquet_df.persist()
parquet_df = parquet_df.select('acc_year', 'bjdong_cd', 'bjdong_nm', 'bldg_area')

parquet_df.explain()

parquet_df.show()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- InMemoryTableScan [acc_year#519, bjdong_cd#520, bjdong_nm#521, bldg_area#522]
      +- InMemoryRelation [_corrupt_record#518, acc_year#519, bjdong_cd#520, bjdong_nm#521, bldg_area#522, bldg_nm#523, bonbeon#524, bubeon#525, build_year#526, cntl_ymd#527, deal_ymd#528, floor#529L, house_type#530, land_gbn#531, land_gbn_nm#532, obj_amt#533, rdealer_lawdnm#534, req_gbn#535, right_gbn#536, sgg_cd#537, sgg_nm#538, tot_area#539], StorageLevel(disk, memory, deserialized, 1 replicas)
            +- *(1) ColumnarToRow
               +- FileScan parquet [_corrupt_record#518,acc_year#519,bjdong_cd#520,bjdong_nm#521,bldg_area#522,bldg_nm#523,bonbeon#524,bubeon#525,build_year#526,cntl_ymd#527,deal_ymd#528,floor#529L,house_type#530,land_gbn#531,land_gbn_nm#532,obj_amt#533,rdealer_lawdnm#534,req_gbn#535,right_gbn#536,sgg_cd#537,sgg_nm#538,tot_area#539] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(13 paths)[file:/Users/dead_line/Workspace/dead-1ine/experiments/pyspark/data/re..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<_corrupt_record:string,acc_year:string,bjdong_cd:string,bjdong_nm:string,bldg_area:double,...

+--------+---------+---------+---------+
|acc_year|bjdong_cd|bjdong_nm|bldg_area|
+--------+---------+---------+---------+
|    2024|    10300|   개포동|    37.43|
|    2024|    10600|   대치동|    34.32|
|    2024|    10300|   개포동|     34.8|
|    2024|    10100|   역삼동|    14.77|
|    2024|    10600|   대치동|    77.98|
|    2024|    11200|   자곡동|     58.7|
|    2024|    10100|   역삼동|   627.91|
|    2024|    10100|   역삼동|     23.9|
|    2024|    10800|   논현동|    30.03|
|    2024|    10300|   개포동|    37.43|
|    2024|    10600|   대치동|    76.79|
|    2024|    10800|   논현동|    14.37|
|    2024|    10100|   역삼동|     20.7|
|    2024|    11500|   수서동|    97.63|
|    2024|    10800|   논현동|    29.79|
|    2024|    10600|   대치동|    94.49|
|    2024|    10300|   개포동|    84.36|
|    2024|    10600|   대치동|    17.68|
|    2024|    10100|   역삼동|    29.88|
|    2024|    11800|   도곡동|   119.89|
+--------+---------+---------+---------+

In [9]:
parquet_df = spark.read.format('parquet').load('../data/real-estate-seoul-gangnamgu/*')

parquet_df = parquet_df.select('acc_year', 'bjdong_cd', 'bjdong_nm', 'bldg_area')

parquet_df.explain()

parquet_df.show()

+---------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+
|_corrupt_record|acc_year|bjdong_cd|bjdong_nm|bldg_area|                      bldg_nm|bonbeon|bubeon|build_year|cntl_ymd|deal_ymd|floor|house_type|land_gbn|land_gbn_nm|obj_amt|rdealer_lawdnm| req_gbn|right_gbn|sgg_cd|sgg_nm|tot_area|
+---------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+
|           NULL|    2024|    10300|   개포동|    37.43|                예가풍경채3차|   1224|  0004|      2019|    NULL|20240315|    3|연립다세대|       1|       대지|  61000|   서울 용산구|중개거래|     NULL| 11680|강남구|    22.0|
|           NULL|    2024|    10600|   대치동|    34.32|         선릉역 롯데골드로즈2|   0890|  0059|      2004|    NULL|20240314|   14|  오피스텔|       1|       대지|  28500|   서울 강남구|중개거래|     NULL| 11680|강남구|   47.95|
|           NULL|    2024|    10300|   개포동|     34.8|          우성파크빌라(161-0)|   0161|  0000|      1993|    NULL|20240314|   -1|연립다세대|       1|       대지|  20000|          NULL|  직거래|     NULL| 11680|강남구|    13.0|
|           NULL|    2024|    10100|   역삼동|    14.77|태건 강남 헤븐리치 더써밋 761|   0605|  0017|      2021|    NULL|20240313|    2|  오피스텔|       1|       대지|  23000|   서울 강남구|중개거래|     NULL| 11680|강남구|    23.1|
|           NULL|    2024|    10600|   대치동|    77.98|                     대치르엘|   1030|  0000|      2021|    NULL|20240313|    7|    아파트|       1|       대지| 255000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|           NULL|    2024|    11200|   자곡동|     58.7|        빌리브 파비오 더 까사|   0653|  0000|      2022|    NULL|20240312|   10|  오피스텔|       1|       대지|  81000|   서울 강남구|중개거래|     NULL| 11680|강남구|   83.89|
|           NULL|    2024|    10100|   역삼동|   627.91|                         NULL|   NULL|  NULL|      1996|    NULL|20240312| NULL|단독다가구|    NULL|       NULL| 626000|   서울 강남구|중개거래|     NULL| 11680|강남구|   230.0|
|           NULL|    2024|    10100|   역삼동|     23.9|           역삼 푸르지오 시티|   0735|  0017|      2016|    NULL|20240312|   13|  오피스텔|       1|       대지|  26800|   서울 강남구|중개거래|     NULL| 11680|강남구|    23.9|
|           NULL|    2024|    10800|   논현동|    30.03|                 운현오피스텔|   0205|  0008|      2003|    NULL|20240311|    9|  오피스텔|       1|       대지|  20300|   서울 강남구|중개거래|     NULL| 11680|강남구|   42.95|
|           NULL|    2024|    10300|   개포동|    37.43|                예가풍경채3차|   1224|  0004|      2019|20240315|20240311|    3|연립다세대|       1|       대지|  61000|   서울 용산구|중개거래|     NULL| 11680|강남구|    22.0|
|           NULL|    2024|    10600|   대치동|    76.79|                         은마|   0316|  0000|      1979|    NULL|20240311|    1|    아파트|       1|       대지| 220000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|           NULL|    2024|    10800|   논현동|    14.37|                논현빌(137-1)|   0137|  0001|      2013|    NULL|20240309|    2|연립다세대|       1|       대지|  17300|   서울 강남구|중개거래|     NULL| 11680|강남구|     9.0|
|           NULL|    2024|    10100|   역삼동|     20.7|                  힐스테이트4|   0681|  0024|      2015|    NULL|20240308|    2|연립다세대|       1|       대지|  20000|   서울 강남구|중개거래|     NULL| 11680|강남구|    13.0|
|           NULL|    2024|    11500|   수서동|    97.63|                   수서한아름|   0712|  0000|      1993|    NULL|20240308|    3|    아파트|       1|       대지| 160000|          NULL|  직거래|     NULL| 11680|강남구|     0.0|
|           NULL|    2024|    10800|   논현동|    29.79|                     논현밸류|   0171|  0016|      2015|    NULL|20240306|    4|연립다세대|       1|       대지|  35000|   서울 서초구|중개거래|     NULL| 11680|강남구|    20.0|
|           NULL|    2024|    10600|   대치동|    94.49|             래미안대치팰리스|   1027|  0000|      2015|    NULL|20240305|    6|    아파트|       1|       대지| 361500|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|           NULL|    2024|    10300|   개포동|    84.36|             디에이치아너힐즈|   0138|  0000|      2019|    NULL|20240305|    7|    아파트|       1|       대지| 280000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
|           NULL|    2024|    10600|   대치동|    17.68|         대치트레비스타 102동|   0891|  0063|      2020|    NULL|20240304|    5|  오피스텔|       1|       대지|  24000|   서울 강남구|중개거래|     NULL| 11680|강남구|   31.37|
|           NULL|    2024|    10100|   역삼동|    29.88| 강남역 서희스타힐스 오피스텔|   0837|  0018|      2012|    NULL|20240304|    2|  오피스텔|       1|       대지|  26000|          NULL|  직거래|     NULL| 11680|강남구|    45.7|
|           NULL|    2024|    11800|   도곡동|   119.89|                     도곡렉슬|   0527|  0000|      2006|    NULL|20240304|    3|    아파트|       1|       대지| 305000|   서울 강남구|중개거래|     NULL| 11680|강남구|     0.0|
+---------------+--------+---------+---------+---------+-----------------------------+-------+------+----------+--------+--------+-----+----------+--------+-----------+-------+--------------+--------+---------+------+------+--------+